{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.samsCharacterName) }}
    {{ form_row(form.isMainCharacter) }}
    {{ form_row(form.rating) }}

    <div class="form-group">
        {{ form_label(form.releasedAt) }}
        {{ form_widget(form.releasedAt) }}
        {{ form_errors(form.releasedAt) }}
    </div>

    <button type="submit" class="btn btn-primary"}>Save</button>
{{ form_end(form) }}
